* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Rounded", arial;
  background-image: url("background_gradient.jpg");
}

.input {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

input[type="text"] {
  height: 50px;
  width: 600px;
  background: #e7e7e7;
  font-family: "Gotham rounded", arial;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
}

input[type="submit"] {
  height: 50px;
  width: 100px;
  background: #e7e7e7;
  font-family: "Gotham rounded", arial;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}
input[type="submit"]:hover {
  border: 2px solid black;
}

.container {
  text-align: center;
}

.card {
  height: 500px;
  width: 700px;
  background: #e7e7e7;
  border-radius: 10px;
  margin: auto;
  padding-top: 30px;
  font-size: x-large;
  line-height: 100px;
}
